.resource{
  .container{
    .resource-background{
      margin-bottom:60px;
      .row{
        .course1{
          @media #{$tab_device} {
            margin: 0 auto;
            flex-grow: 0;
            padding-top: 10px;
          }
          @media #{$large_mobile} {
            margin: 0 auto;
            flex-grow: 0;
            padding-top: 10px;
          }
        }
        .course{
          @media #{$small_mobile} {
            margin: 0 auto;
            padding-top: 10px;
            flex-grow: 0;
          }
          @media #{$large_mobile} {
            margin: 0 auto;
            flex-grow: 0;
            padding-top: 10px;
          }
        }
      }
    }
  }
}